@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-anger: #e81af2;
        --color-sadness: #5b99ff;
        --color-surprise: #33f9cc;
        --color-joy: #8bec19;
        --color-love: #e5e612;
        --color-fear: #f77a6d;
    }

    body {
        @apply text-zinc-950 bg-zinc-50 font-semibold overflow-hidden;
    }
}

@keyframes warmthRotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}